@import '../../common.scss';

.rangeNumber {
  background-color: $bg-light;
  padding: 0.4em 0.2em;
  border-radius: 5px;
  margin: 0.4em 0.2em;
  &.significantScore {
    background-color: $green-3;
  }
}
