@import '../../common.scss';

.rc-slider {
  .rc-slider-rail {
    background-color: $green-2;
  }
  .rc-slider-track {
    background-color: $green-1;
  }
  .rc-slider-handle {
    border-color: $green-1;
  }
}

.rangeNumber {
  background-color: $bg-light;
  padding: 0.4em 0.2em;
  border-radius: 5px;
  margin: 0.4em 0.2em;
  &.significantScore {
    background-color: $green-3;
  }
}