.bucketBox {
  stroke: black;
  stroke-width: 0.5px;
  fill: white;
}

.expandLabel {
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  opacity: 0;
  &.show {
    opacity: 1;
  }
}

.expandPointerEvent {
  cursor: pointer;
  fill: white;
}

