.header {
  margin-top: 20px;
  margin-left: 10px;

  .description {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
  }

  .features {
    display: inline-block;
  }
}
