@import "../../common.scss";

.header {

  .description {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;

    .entity {
      color: $font-color-light;
    }
  }

  .features {
    display: inline-block;
  }

  .subheader {
    margin-bottom: 10px;
  }
}
