@mixin settings-section {
  font-weight: bold;
  display: inline-block;
}

.settings-header-section {
  @include settings-section;
  font-size: 1.2em;
}

.settings-subheader-section {
  @include settings-section;
  margin-top: 15px;
}

.priorityScoreSettingsHelp {
  margin: 10px 0;

  .item {
    margin: 15px 0;
  }
}
